*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: consolas;
}
section 
{
  position: relative;
  padding: 60px;
}
section h2
{
  font-size: 2em;
  margin-bottom: 10px;
  
}
section p
{
  font-size: 1.1em;
}
section button
{
  position: relative;
  padding: 15px 25px;
  margin-top: 20px;
  font-size: 1.1em;
  cursor: pointer;
}
.popup
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  width: 450px;
  height: 300px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.1)rgba(0,0,0,0.1);
}
